@import "src/scss/variables";

.code-viewer {

  .comment {
    color: #999;
    font-style: italic;
  }

  .pattern {
    color: #080;
  }

  .variable {
    color: #09d;
  }

  .header {
    font-weight: bold;
    text-decoration: underline;
  }

  .pos-priority {
    color: #00b;
  }

  .neg-priority {
    color: #960;
  }

  .equals, .comma, .colon {
    color: #666;
  }

  .error {
    background-color: #fdd;
    color: #900;
  }

  .empty {
    color: $gray-400;
  }

  .player1 {
    color: $player1;
  }

  .player2 {
    color: $player2;
  }

  .playable {
    // color: #6b6;
    color: #c6c;
  }
}