
svg {
  width: 700px;
  height: 700px;
}

.game-screen {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.board-area {
  margin-left: 4rem;
  margin-right: 4rem;
  .alert {
    user-select: none;
  }
}
