
.frame-tile.active, .frame-hole.active {
  cursor: pointer;
}

.frame-tile {
  fill: #e6e633;
  stroke: #990;
}

.frame-hole {
  fill: #e6e633;
  stroke: #990;
  stroke-width: 3px;
}

.frame-tile.highlight {
  fill: #5d5;
  stroke: #090;
}

.frame-hole.highlight {
  fill: #5d5;
  stroke: #090;
}
