
.frame-tile.active, .frame-hole.active {
  cursor: pointer;
}

.frame-tile {
  fill: #dd0;
  stroke: #990;
}

.frame-hole {
  fill: #dd0;
  stroke: #990;
}

.frame-tile.highlight {
  fill: #0d0;
  stroke: #090;
}

.frame-hole.highlight {
  fill: #0d0;
  stroke: #090;
  stroke-width: 6px;
}
