@import "src/scss/variables";

.turns-panel {
  width: 200px;
  height: 500px;
  user-select: none;

  .card-body {
    padding: 0;
  }

  .list-group {
    overflow: auto;

    .list-group-item {
      min-height: 3rem;
    }
  }
}

.list-group-item-action.list-group-item-player1.current,
.list-group-item-action.list-group-item-player1.current:active,
.list-group-item-action.list-group-item-player1.current:hover,
.list-group-item-action.list-group-item-player1.current:focus {
  color: $white;
  background: $player1;
}

.list-group-item-action.list-group-item-player2.current,
.list-group-item-action.list-group-item-player2.current:active,
.list-group-item-action.list-group-item-player2.current:hover,
.list-group-item-action.list-group-item-player2.current:focus {
  color: $white;
  background: $player2;
}

