@import "src/scss/variables";

.turns-panel {
  width: 200px;
  height: 500px;

  .card-body {
    padding: 0;
  }

  .list-group {
    overflow: auto;

    .list-group-item {
      min-height: 3rem;
    }
  }
}

// .turn {
//   font-size: 1.2rem;
//   padding: 0.5rem;
//   border-top: 1px solid #fff;
//   border-bottom: 1px solid #fff;
//   user-select: none;
//   cursor: pointer;
// }

// .turn.player1 {
//   color: #008;
//   background: #eef;
// }

// .turn.player1:hover {
//   color: #006;
//   background: #dde;
// }

.list-group-item-action.list-group-item-player1.current,
.list-group-item-action.list-group-item-player1.current:active,
.list-group-item-action.list-group-item-player1.current:hover,
.list-group-item-action.list-group-item-player1.current:focus {
  color: $white;
  background: $player1;
}

.list-group-item-action.list-group-item-player2.current,
.list-group-item-action.list-group-item-player2.current:active,
.list-group-item-action.list-group-item-player2.current:hover,
.list-group-item-action.list-group-item-player2.current:focus {
  color: $white;
  background: $player2;
}

// .turn.player2 {
//   color: #800;
//   background: #fee;
// }

// .turn.player2:hover {
//   color: #600;
//   background: #edd;
// }

// .turn.current.player2 {
//   color: #fff;
//   background: #800;
// }
