@import "scss/variables";

// Optional
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities/text";
@import "~bootstrap/scss/utilities/spacing";

button:focus {
  outline: none;
}

// Components
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/tooltip";

$material-icons-font-path: "~material-icons/iconfont/";
@import "~material-icons/iconfont/material-icons.scss";

html, body, #root {
  margin: 0;
  width: 100%;
  height: 100%;
}

#root {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}