
.player-setup {

  input {
    padding-left: 0.5rem;
  }

  .dropdown-item {
    user-select: none;
    cursor: pointer;
  }

  .input-group {
    width: 400px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
    margin-bottom: 2px;
    margin-top: 1rem;

    .input-group-prepend {
      flex-grow: 0;
    }

    input {
      flex-grow: 1;
    }
  }

  .file-add-on {
    height: 2.5rem;
    width: 400px;

    .btn-block {
      margin-top: 0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: stretch;
      align-items: center;

      .depth {
        flex-grow: 1;
      }
    }
  }

  .code-add-on {
    height: 1.75rem;
    padding-left: 0.5rem;
    color: blue;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

}
