
[data-tag='tile'].row-1 {
  transition: transform 0.08s ease-in;
}

[data-tag='tile'].row-2 {
  transition: transform 0.16s ease-in;
}

[data-tag='tile'].row-3 {
  transition: transform 0.24s ease-in;
}

[data-tag='tile'].row-4 {
  transition: transform 0.32s ease-in;
}

[data-tag='tile'].row-5 {
  transition: transform 0.4s ease-in;
}

[data-tag='tile'].row-6 {
  transition: transform 0.48s ease-in;
}

[data-tag='tile'].playerA {
  fill: #00f;
  stroke: #009;
}

[data-tag='tile'].playerB {
  fill: #f00;
  stroke: #900;
}
